.header {
  background: black;
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  text-align: center;
  flex-wrap: wrap;
  flex: 1 0 25%;
  padding: 0 15%;
}
#titlePart {
  display: flex;
  flex-direction: row;
}
#logo img {
  width: 25vw;
  height: 10vh;
  padding: 5px;
  margin: 1% 20%;
}
.container {
  width: 100%;
}
